<table class="table">
    <thead> 
        <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">height</th>
            <th scope="col">hometown</th>
            <th scope="col">team</th>
        </tr>
    </thead>
    <tbody>
        {{#each this}}
        <tr>
            <th scope="row">{{id}}</th>
            <th scope="row">{{name}}</th>
            <th scope="row">{{height}}</th>
            <th scope="row">{{hometown}}</th>
            <th scope="row">{{team}}</th>
        </tr>
        {{/each}}
    </tbody>
</table>
        



